<div class="flex flex-col items-center w-full justify-top" x-data="tabs">
  <header class="w-full">
    <div>
      <h1 class="py-4 mb-4 text-5xl">{{ title }}</h1>
      <p class="px-3 mb-4 text-base">{{ description }}</p>
    </div>
    {{ if (version | count) > 1 }}
      <nav class="mb-4 border-gray-200 sm:border-b dark:border-gray-700">
        <div class="sm:hidden">
          <label for="tabs" class="sr-only">Versions disponibles</label>
          <select id="tabs"
            class="block w-32 p-2.5 text-gray-900 border border-gray-300 rounded-lg form-select bg-gray-50 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            x-on:change="setTab($event.target.options[$event.target.selectedIndex].value)">
            {{ version }}
              <option value="#v{{ count }}" x-bind:selected="visible('#v{{ count }}')">
                {{ libelle ?? count | ensure_left:Version&nbsp; }}
              </option>
            {{ /version }}
          </select>
        </div>
        <menu
          class="hidden text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 sm:flex">
          {{ version }}
            <li class="mr-2">
              <a href="#v{{ count }}" id="tab{{ count }}" class="inline-block p-4 border-b-2"
                x-bind:class="visible('#v{{ count }}') ? 'text-blue-600 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' : 'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'"
                aria-current="page" role="tab" aria-controls="v{{ count }}"
                x-bind:aria-selected="visible('#v{{ count }}')"
                x-on:click.prevent="setTab('#v{{ count }}')">{{ libelle ?? count | ensure_left:Version&nbsp; }}</a>
            </li>
          {{ /version }}
        </menu>
      </nav>
    {{ /if }}
  </header>
  <main class="w-full">
    {{ version }}
      {{ scope:stuff }}
        <div id="v{{ count }}" class="flex flex-wrap w-full" aria-labelledby="tab{{ count }}"
          x-show="visible('#v{{ count }}')" x-cloak>
          {{ if total_results > 1 }}
            <div class="w-full prose dark:prose-invert max-w-none">
              <h2>{{ libelle ?? count | ensure_left:Version&nbsp; }}</h2>
            </div>
          {{ /if }}
          {{ galerie }}
            <div class="w-full px-2.5 my-2.5 sm:w-1/2 xl:my-4 xl:px-4">
              {{ if is_image }}
                {{ if watermarke }}
                  <a class="gallery_element group"
                    href="{{ glide:url mark="/storage/watermarks/logo_watermark_2.png" markpos="bottom-left" markw="100w" | obfuscate }}"
                    data-title="{{ alt ?? count | ensure_left:Elément&nbsp;n&deg;&nbsp; }}" data-type="image"
                    data-gallery="gallery{{ stuff:count }}">
                {{ else }}
                  <a class="gallery_element group" href="{{ glide:url | obfuscate }}"
                    data-title="{{ alt ?? count | ensure_left:Elément&nbsp;n&deg;&nbsp; }}" data-type="image"
                    data-gallery="gallery{{ stuff:count }}">
                {{ /if }}
              {{ else }}
                <a class="gallery_element group" href="{{ glide:url | obfuscate }}"
                  data-title="{{ alt ?? count | ensure_left:Elément&nbsp;n&deg;&nbsp; }}" data-type="video"
                  data-gallery="gallery{{ stuff:count }}">
              {{ /if }}
              <figure class="shadow-xl">
                <div class="relative">
                  <div
                    class="absolute inset-0 flex items-center justify-center text-white transition-opacity duration-500 bg-black opacity-0 group-hover:opacity-50 motion-reduce:transition-none dark:bg-gray-200 dark:text-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-16 h-16">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                  </div>
                  {{ if is_image }}
                    {{ if watermarke }}
                      {{ responsive:url glide:mark="/storage/watermarks/logo_watermark_2.png" glide:markpos="bottom-left" glide:markw="100w" alt="{{alt ?? count | ensure_left:Elément&nbsp;n&deg;&nbsp;}}" class="w-full" }}
                    {{ else }}
                      {{ responsive:url alt="{{alt ?? count | ensure_left:Elément&nbsp;n&deg;&nbsp;}}" class="w-full" }}
                    {{ /if }}
                  {{ else }}
                    {{ poster_video }}
                      {{ if watermarke }}
                        {{ responsive:url glide:mark="/storage/watermarks/logo_watermark_2.png" glide:markpos="bottom-left" glide:markw="100w" alt="{{alt ?? count | ensure_left:Elément&nbsp;n&deg;&nbsp;}}" class="w-full" }}
                      {{ else }}
                        {{ responsive:url alt="{{alt ?? count | ensure_left:Elément&nbsp;n&deg;&nbsp;}}" class="w-full" }}
                      {{ /if }}
                    {{ /poster_video }}
                  {{ /if }}
                </div>
                <figcaption class="p-3 font-semibold text-white bg-gray-900 dark:text-gray-900 dark:bg-white">
                  {{ alt ?? count | ensure_left:Elément&nbsp;n&deg;&nbsp; }}
                </figcaption>
              </figure>
              </a>
            </div>
          {{ /galerie }}
        </div>
      {{ /scope:stuff }}
    {{ /version }}
  </main>
</div>