<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    {{ vite src="resources/css/tailwind.scss|resources/css/site.scss" }}
</head>
<body class="flex flex-col min-h-screen font-sans leading-normal text-gray-800 bg-gray-100 dark:bg-gray-800 dark:text-gray-100">
    <div class="flex flex-col items-center flex-1 px-2 mx-auto max-w-screen-2xl justify-top">
        {{ template_content }}
    </div>
    <footer class="p-3 pt-5 text-center bg-white dark:bg-gray-900 dark:text-white">
        <p>Copyright © {{ now format="Y" }} <a href="https://altitudegp.com" target="_blank" rel="noreferrer noopener nofollow">Altitude Design</a> | Tous droits réservés.</p>
    </footer>
    {{ vite src="resources/js/site.js" }}
</body>
</html>