/node_modules
/public/build/*
/public/hot
/public/vendor/statamic
/storage/*.key
/users/*
/vendor
.env
.env.backup
*.lock
*-lock.json
.phpunit.result.cache
.php_cs.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.idea
/.vscode
